body{
    padding:0%;
    margin: 0;
}



* {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
word-spacing: 1em;

letter-spacing: 0.2em;

}
.sidebar{
float: left;
width:20%;
margin:0px;
background-color:#cc7212;
height:633px;
line-height:2em;
text-align:center;
   
}

.main{
    float:left;
    width: 80%;
    margin: 0px;
    background-color: aqua;
    height:633px;
    overflow-y: auto;
}
.pic{border: 5px solid #cccccc;
    padding: 0px;
width: 200px;
height:200px;text-align: center;
border-radius: 50%;

/*
-moz-border-radius: 10px;
-webkit-border-radius: 10px;

  /*  padding: 0px;
border-radius: 100px;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;*/

}
li {
list-style-type: none;
}
div.sidebar,h1,h3 ,div.pic{
    display:inline block;
}